.vs/
CryptoPortfolio.Business.Builder/bin/
CryptoPortfolio.Business.Builder.Interfaces/bin/
CryptoPortfolio.Business.Contracts/bin/
CryptoPortfolio.Business.Entities/bin/
CryptoPortfolio.Business.Helper/bin/
CryptoPortfolio.Business.Helper.Tests/bin/
CryptoPortfolio.Business.Data/bin/
CryptoPortfolio.Business.Data.Interfaces/bin/
CryptoPortfolio.Business.Data.Tests/bin/
CryptoPortfolio.Business.Tests.Objects/bin/
CryptoPortfolio.Business.WebApi/bin/
CryptoPortfolio.Business.Builder/obj/
CryptoPortfolio.Business.Builder.Interfaces/obj/
CryptoPortfolio.Business.Contracts/obj/
CryptoPortfolio.Business.Entities/obj/
CryptoPortfolio.Business.Helper/obj/
CryptoPortfolio.Business.Helper.Tests/obj/
CryptoPortfolio.Business.Data/obj/
CryptoPortfolio.Business.Data.Interfaces/obj/
CryptoPortfolio.Business.Data.Tests/obj/
CryptoPortfolio.Business.Tests.Objects/obj/
CryptoPortfolio.Business.WebApi/obj/