.vs/
/CryptoPortfolio.Business.Builder/bin
/CryptoPortfolio.Business.Builder/obj
/CryptoPortfolio.Business.Builder.Interfaces/bin
/CryptoPortfolio.Business.Builder.Interfaces/obj
/CryptoPortfolio.Business.Contracts/bin
/CryptoPortfolio.Business.Contracts/obj
/CryptoPortfolio.Business.Entities/bin
/CryptoPortfolio.Business.Entities/obj
/CryptoPortfolio.Business.Helper/bin
/CryptoPortfolio.Business.Helper/obj
/CryptoPortfolio.Business.Helper.Tests/bin
/CryptoPortfolio.Business.Helper.Tests/obj
/CryptoPortfolio.Business.Manager/bin
/CryptoPortfolio.Business.Manager/obj
/CryptoPortfolio.Business.Service/bin
/CryptoPortfolio.Business.Service/obj
/CryptoPortfolio.Data/obj
/CryptoPortfolio.Data/bin
/CryptoPortfolio.Data.Interfaces/obj
/CryptoPortfolio.Data.Interfaces/bin
/CryptoPortfolio.Data.Tests/obj
/CryptoPortfolio.Data.Tests/bin
/CryptoPortfolio.Tests.Objects/bin
/CryptoPortfolio.Tests.Objects/obj
/CryptoPortfolio.WebApi/obj
/CryptoPortfolio.WebApi/bin